body { 
    background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden;
}

.controller.ds4.white {
    background-image: url(https://github.com/Nerxxy/Controller/blob/main/Base.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svgz);
}

.ds4.white .trigger {
    background-image: url(https://github.com/Nerxxy/Controller/blob/main/triggers.png);
}

.ds4.white .bumper {
    background-image: url(https://github.com/Nerxxy/Controller/blob/main/bumper.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(https://github.com/Nerxxy/Controller/blob/main/touchpad.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://github.com/Nerxxy/Controller/blob/main/start.png);
}

.ds4.white .button {
    background-image: url(https://github.com/Nerxxy/Controller/blob/main/dpad.png);
}

.ds4.white .stick {
    background-image: url(https://github.com/Nerxxy/Controller/blob/main/sticks.png);
}

.ds4.white .face {
    background-image: url(https://github.com/Nerxxy/Controller/blob/main/face.png);
}

.ds4 .meta.pressed {
    background: url(https://github.com/Nerxxy/Controller/blob/main/meta.png);
}
